/* .main-board {
  border-color: blue;
} */

:root {
  --sourceImage: url(https://wallpapers.com/images/featured/fkq1k1pst35iab2c.jpg);
}

.main-board {
  /* background-image: url(https://wallpapers.com/images/featured/fkq1k1pst35iab2c.jpg);
  background-size: cover; 
  background-size: 1064px 620px;*/
  width: 1064px;
  height: 620px;
  display: grid;
  margin: auto;
  gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  background-color: black;
  /* height: 50px;
  width: 50px; */
  /* background-color: #2ecc71; */
}

div > div {
  padding: 100px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
}

#P1of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: 0px 0px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P2of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: -354px 0px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P3of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: -708px 0px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P4of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: 0px -206px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P5of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: -354px -206px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P6of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: -708px -206px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P7of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: 0px -412px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P8of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: -354px -412px;
  position: relative;
  top: 0px;
  left: 0px;
}

#P9of9 {
  background-image: var(--sourceImage);
  background-size: 1064px 620px;
  background-position: -708px -412px;
  position: relative;
  top: 0px;
  left: 0px;

  opacity: 0;
}
